<!--this is the homepage-->
<h1>{{title}}</h1>
<nav id="tabs">
    <!--Nav bar containing anchors directing user to full list of movies and home page-->
    <a routerLink="/dashboard">
        Homepage <!--should take you to homepage app.component.html-->
    </a>
    <a routerLink="/movies"><!--should take you to list of movies in table format. moviesComponent-->
        List of Movies
    </a>
</nav>
<app-filters></app-filters>
<router-outlet></router-outlet><!--Tells router where to display routed views. placeholder that dynamically changes based on current state-->
<app-messages></app-messages>