button {
    background-color: #435960;
    border: none;
    color: white;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 95%;
  }
  button:hover {
    background-color: #000;
  }