<div class="mt-5">
    <h2 class="header" id="careerstats">Filtered Movies</h2>
    <table class="table table-responsive table-striped .table-success">
        <tr>
            <th>Original Title</th>
            <th>Overview</th>
            <th>IMDB ID</th>
            <th>Popularity</th>
            <th>Budget</th>
            <th>Revenue</th>
            <th>Cast</th>
            <th>Homepage</th>
            <th>Director</th>
            <th>Tagline</th>
            <th>Keywords</th>
            <th>Runtime</th>
            <th>Genres</th>
            <th>Production Companies</th>
            <th>Release Date</th>
            <th>Vote Count</th>
            <th>Vote Average</th>
            <th>Release Year</th>
            <th>Budget Adj</th>
            <th>Revenue Adj</th>
        </tr>

        <tr class="movies">
            <td *ngFor= "let movie of movies">
                <button [class.selected] = "movie === selectedMovie" type="button" (click)="onSelect(movie)">
                    <span class="name" routerLink="/detail/{{movie.original_title}}">{{movie.original_title}}</span>
                    <span class="badge" routerLink="/detail/{{movie.imdb_id}}">{{movie.imdb_id}}</span>
                    <span class="popularity" routerLink="/detail/{{movie.popularity}}">{{movie.popularity}}</span>
                    <span class="budget" routerLink="/detail/{{movie.budget}}">{{movie.budget}}</span>
                    <span class="revenue" routerLink="/detail/{{movie.revenue}}">{{movie.revenue}}</span>
                    <span class="cast" routerLink="/detail/{{movie.cast}}">{{movie.cast}}</span>
                    <span class="homepage" routerLink="/detail/{{movie.homepage}}">{{movie.homepage}}</span>
                    <span class="director" routerLink="/detail/{{movie.director}}">{{movie.director}}</span>
                    <span class="tagline" routerLink="/detail/{{movie.tagline}}">{{movie.tagline}}</span>
                    <span class="keywords" routerLink="/detail/{{movie.keywords}}">{{movie.keywords}}</span>
                    <span class="runtime" routerLink="/detail/{{movie.runtime}}">{{movie.runtime}}</span>
                    <span class="genre" routerLink="/detail/{{movie.genres}}">{{movie.genres}}</span>
                    <span class="production-co" routerLink="/detail/{{movie.production_companies}}">{{movie.production_companies}}</span>
                    <span class="release-date" routerLink="/detail/{{movie.release_date}}">{{movie.release_date}}</span>
                    <span class="vote-count" routerLink="/detail/{{movie.vote_count}}">{{movie.vote_count}}</span>
                    <span class="vote-average" routerLink="/detail/{{movie.vote_average}}">{{movie.vote_average}}</span>
                    <span class="release-year" routerLink="/detail/{{movie.release_year}}">{{movie.release_year}}</span>
                    <span class="budge-adj" routerLink="/detail/{{movie.budget_adj}}">{{movie.budget_adj}}</span>
                    <span class="revenue-adj" routerLink="/detail/{{movie.revenue_adj}}">{{movie.revenue_adj}}</span>
                </button>
            </td>
        </tr>
    </table>
  </div>